@import '../../assets/styles/shared.scss';

.wrapper-stats {
  display: flex;
  justify-content: space-between;
}

.contacts-total {
  // margin: 0;
  font-size: 25px;
}

.contacts-total__count {
  color: $accentColor;
  font-weight: 600;
  font-size: 28px;
}
