@import './colors';

%button {
  text-decoration: none;
  user-select: none;
  padding: 0.25em 0.5em;
  outline-color: $accentColor;
  border: 1px solid $accentColor;
  border-radius: 7px;
  background: $accentColor
    linear-gradient($gradientOnButton1, $gradientOnButton2);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0),
    inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);
  transition: box-shadow 0.2s, border-color 0.2s;
  animation-play-state: paused;

  &:hover {
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0),
      inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0.5);
    animation: pulsate 1.2s linear infinite;
    cursor: pointer;
  }

  &:active {
    padding: calc(0.25em + 1px) 0.5em calc(0.25em - 1px);
    border-color: rgba(177, 159, 0, 1);
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1),
      inset 0 1px 2px rgba(0, 0, 0, 0.3),
      inset 0 0 0 60px rgba(255, 255, 0, 0.45);
  }

  @keyframes pulsate {
    50% {
      color: #fff;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
    }
  }
}
