@import '../../assets/styles/shared.scss';

.contacts {
  padding: 0;
  margin: 20px 0;
}

.contacts__item {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__item::before {
  content: '';
  display: inline-block;
  margin-right: 15px;
  width: 15px;
  height: 15px;
  background-color: $accentColor;
  border-radius: 50%;
}

.contacts__button {
  @extend %button;
  margin-left: auto;
}
